*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


body{
    padding: 50px 100px;
    
    background-color: yellow;
    width: 100%;
    height: 100%;
    
}
h1{
    text-align: center;
    margin: 80px;
    color: black;
}
#container{
    text-align: center;
    background-color:black;
    padding: 50px ;
    margin: 90px;
    border-radius: 10px;
    border-color: black;

}
.input-folder{
    display: inline-block;
}
.input-style{
    padding: 5px 10px;
    margin: 15px;
    font-weight: 600;
}
label{
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    color: white;
}
